* {
    scroll-behavior: smooth;
  }
  
  body{
    font-family: 'Courier New', Courier, monospace;
    background-image: url(smcc-bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }
  .navbar{
    background-color: darkblue;
  }
  .navbar-toggler{
   background-color: rgba(245, 245, 245, 0.389);
  }
  .navbar-brand{
    display: flex;
  }
  .navbar-brand h3{
    color: white;
    padding-top: 5px;
    padding-left: 15px;
  }
  .nav-link{
    color: white;
  }
  .nav-link:hover{
    background-color: dodgerblue;
    color: rgb(255, 238, 0);
    border-radius: 5px 20px;
  }
  .vmgo, .vmgo li{
    text-align: justify;
  }
  .smcc{
    text-align: center;
  
  }
  .link{
    padding-top: 20rem;
    padding-bottom: 20rem;
  }
  
  .container{
    max-width: 100%;
    max-height: 100%;
    color: rgba(9, 9, 92, 0.823);
  }
  .smcclink{
  text-decoration: none;  
  color: rgba(9, 9, 92, 0.823);
  margin: 20px;
  padding: 20px;
  padding-top: 20rem;
  padding-bottom: 20rem;
  }
  .smcclink:hover{
    color: rgb(255, 238, 0);
    text-shadow: 2px 2px 2px rgba(0, 0, 52, 0.619);
  }
  .main{  
    padding: 20px;
  }
  h2{
    text-align: center;
    
  }
  .vision, .mission, .goal, .objectives{
    text-align: justify;
  }
  .vmgo{
    background-color: seashell;
    border-radius: 5px;
  }
  .card-basic{
    background-color: dodgerblue;
    color: white;
    padding: 5px;
   border-radius: 5px;
  }
  .card-shs{
   /* box-shadow: 5px 0px 30px gray;*/
    background-color: rgb(132, 132, 148);
  /* background-color: rgb(14, 0, 68); */
   color: rgb(43, 41, 41); 
    padding: 5px;
    border-radius: 5px;
  }
  .course{
    text-align: center;
    margin: 20px;
    padding: 20px;
    padding-top: 20rem;
    padding-bottom: 20rem;
  }
  h3{
    text-align: center;
    text-shadow: 1px 0px 2px rgb(132, 132, 148);
  }
  h5,h2.h1,p,li{
    padding: 10px;
    text-align: center;
   
  }
  .department{
    text-align: center;
  padding-top: 20rem;
  padding-bottom: 20rem;
  }
  .courses-container p{
    text-align: left;
  }
  .card-ccis{
    /*box-shadow: 5px 0px 50px green; */
    background-color: wheat;
    border-radius: 5px;
   max-width: 100%;
   max-height: 100%;
   color: green;
  }
  .card-cthm{
    /*box-shadow: 5px 0px 30px rgb(250, 0, 42);*/
    background-color: wheat;
    border-radius: 5px;
    max-width: 100%;
   max-height: 100%;
   color: rgb(255, 0, 111);
  }
  .card-cbm{
   /* box-shadow: 5px 0px 30px rgb(244, 223, 63);*/
    background-color: wheat;
    border-radius: 5px;
   max-width: 100%;
   max-height: 100%;
   color: rgb(124, 108, 3);
  }
  .card-ccje{
   /* box-shadow: 5px 0px 30px rgb(71, 6, 6); */
   background-color: wheat;
    border-radius: 5px;
   max-width: 100%;
   max-height: 100%;
   color: maroon;
   
  }
  .card-cte, .card-cas{
    /*box-shadow: 5px 0px 30px rgb(54, 57, 255);*/
    background-color: wheat;
    border-radius: 5px;
   max-width: 100%;
   max-height: 100%;
   color: rgb(0, 0, 140);
  }
  .card-icon img{
    height: 100px;
    margin: 10px;
  }
  .card-title{
    text-align: left;
     padding-left: 10px;
  }
  .card-cthm a{
    color: rgb(255, 0, 111);
    padding-left: 10px;
     text-decoration: none;
  }
  .card-ccis a{
    color: green;
    padding-left: 10px;
     text-decoration: none;
  }
  .card-cbm a{
    color: rgb(124, 108, 3);
    padding-left: 10px;
    text-decoration: none; 
  }
  .card-ccje a{
    color: maroon;
    padding-left: 10px;
    text-decoration: none; 
  }
  .card-cte a, .card-cas a{
    color: rgb(0, 0, 140);
    padding-left: 10px;
    text-decoration: none; 
  
  }
  .card-cthm a:hover{
    background-color: rgb(204, 88, 107);
    border-radius: 5px 15px 5px;
   color: white;
  }
  .card-ccis a:hover{
    background-color: rgb(88, 204, 115);
    border-radius: 5px 15px 5px;
   color: white;
  }
  .card-cbm a:hover{
    background-color: rgb(204, 204, 88);
    border-radius: 5px 15px 5px;
   color: white;
  }
  .card-ccje a:hover{
    background-color: rgb(124, 13, 13);
    border-radius: 5px 15px 5px;
   color: white;
  }
  .card-cte a:hover{
    background-color: rgb(10, 4, 134);
    border-radius: 5px 15px 5px;
   color: white;
  }
  .card-cas a:hover{
    background-color: rgb(10, 4, 134);
    border-radius: 5px 15px 5px;
   color: white;
  }
  
  .service-offer{
    text-align: center;
    margin: 20px;
    padding: 20px;
    padding-top: 20rem;
    padding-bottom: 20rem;
  }
  .card li, .card h3{
    text-align: center;
  
  }
  .card{
    background-color: teal;
    color: white;
    padding: 5px;
   border-radius: 5px;
  }  
  .card-contact{
    background-color: aquamarine;
    padding: 10px;
    border-radius: 5px;
  } 
  footer{
    text-align: center;
  }